.sfsd{
    padding-left: 50px;
    padding-right: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

#inputcolor{
    background-color: transparent;
    color: white;
}

.Auth-form-container{
    display: inline;
}

#backtohome{
    margin-left:66px;
    margin-right: 85px;
}
#inputcolorwq{
    background-color:black;
    color:white;
    border:none;
}